<<!DOCTYPE html>
<html dir="ltr" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PROYECTO PISIP</title>
    
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}" />
    
    <link rel="stylesheet" type="text/css" th:href="@{/assets/extra-libs/multicheck/multicheck.css}" />
    <link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css}" rel="stylesheet" />
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet" />
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" 
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
    <a class="navbar-brand" th:href="@{/gestion-sistema}">
        <b class="logo-icon ps-2">
            <i class="mdi mdi-laptop-mac text-white" style="font-size: 24px;"></i>
        </b>
        <span class="logo-text ms-2">
            <span style="font-weight: bold; font-size: 18px; color: #fff; letter-spacing: 1px;">PROYECTO PISIP</span>
        </span>
    </a>
</div>
                </nav>
        </header>

        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
				    <ul id="sidebarnav" class="pt-4">
				        <li class="sidebar-item">
				            <a class="sidebar-link waves-effect waves-dark" th:href="@{/cliente/listar}">
				                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Listar Cliente</span>
				            </a>
				        </li>
				        <li class="sidebar-item">
				            <a class="sidebar-link waves-effect waves-dark" th:href="@{/cliente/nuevo}">
				                <i class="mdi mdi-account-plus"></i><span class="hide-menu">Nuevo Cliente</span>
				            </a>
				        </li>
				        
				        <li class="sidebar-item">
				            <a class="sidebar-link waves-effect waves-dark" th:href="@{/orden/listar}">
				                <i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">Listar Orden</span>
				            </a>
				        </li>
				        <li class="sidebar-item">
				            <a class="sidebar-link waves-effect waves-dark" th:href="@{/orden/nueva}">
				                <i class="mdi mdi-border-inside"></i><span class="hide-menu">Orden Nueva</span>
				            </a>
				        </li>
				    </ul>
				</nav>
            </div>
        </aside>

         <div class="page-wrapper">
				    <div class="container-fluid pt-2">
				        
				        <div class="row mb-2" th:if="${nombreCliente != null or nombrePagina != null}">
				            <div class="col-12">
				                <h4 class="page-title">
				                    <span th:text="${nombrePagina ?: 'Gestión'}"></span> 
				                    <span th:if="${nombreCliente}" th:text="' - ' + ${nombreCliente}" class="text-primary"></span>
				                </h4>
				            </div>
				        </div>
				
				        <div layout:fragment="contenidopaginas"></div>
				    </div>
				
				
				</div>
    </div>

    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
    <script th:src="@{/dist/js/waves.js}"></script>
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <script th:src="@{/assets/extra-libs/DataTables/datatables.min.js}"></script>
    
    <script>
      $(document).ready(function() {
          if ($("#zero_config").length) {
              $("#zero_config").DataTable();
          }
      });
    </script>
</body>
</html>