<!DOCTYPE html>
<html dir="ltr" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/plantilla/plantillaui">
<head>
    <title>Nuevo Cliente</title>
</head>
<body>
<div layout:fragment="contenidopaginas">
			    <div class="card">
			        <div class="card-body">
			            <h4 class="card-title">Ingreso de Equipo nuevo</h4>
			         <form th:action="@{/equipo/guardar}" th:object="${equipoDTO}" method="post">
				    <input type="hidden" th:field="*{idEquipo}" />
				    <input type="hidden" th:field="*{idCliente}" />
   	
				    
				    <div class="row">
				        <div class="col-md-6 mb-3">
				            <label>Marca</label>
				            <input type="text" th:field="*{marca}" class="form-control" required />
				        </div>
				        <div class="col-md-6 mb-3">
				            <label>Modelo</label>
				            <input type="text" th:field="*{modelo}" class="form-control" required />
				        </div>
				    </div>
				
				    <div class="row">
				        <div class="col-md-6 mb-3">
				            <label>Número de Serie</label>
				            <input type="text" th:field="*{numSerie}" class="form-control" />
				        </div>
				        <div class="col-md-6 mb-3">
				            <label>Descripción</label>
				            <textarea th:field="*{descripcion}" class="form-control"></textarea>
				        </div>
				    </div>
				
				    <div class="border-top pt-3 text-center">
				        <button type="submit" class="btn btn-success text-white">
				            <i class="mdi mdi-check"></i> Guardar Equipo
				        </button>
				        <a th:href="@{/equipo/listarPorCliente/{id}(id=${idCliente})}" class="btn btn-secondary">
				            <i class="mdi mdi-arrow-left"></i> Cancelar
				        </a>
				    </div>
				</form>
        </div>
    </div>
</div>
</body>
</html>